<h1>Employee list</h1>
<table class="table table-striped">
    <thead>
       
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">email</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody *ngFor="let e of employee | async">
      <tr>
        <td>{{e.id}}</td>
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.email}}</td>
        <td><button (click)="employeeDetails(e.id)" class="Details">Detail</button></td>
        <td><button (click)="updateEmployee(e.id)" class="success">Update</button></td>
        <td><button (click)="deleteEmployee(e.id)" (click)="reloadPage()" class="Danger">Delete</button></td>
      </tr>
      
    </tbody>
  </table>
