.employee-card {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(22, 185, 38, 0.868);
    max-width: 400px;
    margin: 0 auto;
   
}

.employee-info {
    margin-bottom: 10px;
}

.employee-label {
    font-weight: bold;
}

.employee-detail {
    margin-left: 10px;
    color: #333;
}
.back-button{
    background-color: rgb(25, 165, 25);
    width: 20%;
    text-align: center;
    margin: auto;
    
}
a{
    color: #ccc;
    font-weight: bold;
}